.menu {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-color: black;
  height: 60px;
}
.brand_link{
  height: 50px;
  margin: auto 20px;
}
.brand_logo{
  height: 50px;
  width: 50px;
  margin: auto 20px;
}
.menu_list{
  display: flex;
  list-style: none;
  justify-content: space-evenly;
}
.menu_item{
  text-decoration: none;
  color: white;
  font-weight: 900;
  height: 50px;
  margin: auto 10px;
}
.slider_content{
  height: 500px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}